.illustration {
  -webkit-transform: scale(0.65);
  -ms-transform: scale(0.65);
  transform: scale(0.65);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: auto;
  position: relative;
  width: 19rem;
  margin: -1rem auto 0;
  left: 3rem;

  @media screen and (min-width: 1024px) {
    & {
      left: 3rem;
      top: -1rem;
      width: 92%;
      transform: scale(0.7) !important;
    }
  }
}

.about {
  &__wrapper {
    width: 42rem;
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  &__content {
    -webkit-box-flex: 1.4;
    -ms-flex: 1.4;
    flex: 1.4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &__texts {
    height: 88%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: 0.5rem;
    padding-right: 2rem;

    & .resume {
      color: #ed732e;
      font-size: 0.9rem;
    }

    & > div {
      flex: 1;
      height: 100%;
    }

    & h3 {
      font: var(--page-subtitle);
      color: var(--page-subtitle-color);
    }

    & p {
      font: 400 0.75rem/1.6 "Martian Mono";
      color: var(--description-color);
      margin-top: 1.2rem;
      margin-bottom: 1rem;

      @media screen and (min-width: 1024px) {
        & {
          font-size: 0.8rem;
          line-height: 1.8;
          margin-top: 1.2rem;
          margin-bottom: 1rem;
        }
      }

      & .date {
        display: block;
        width: 30%;
        text-transform: uppercase;
        font-size: 0.76rem;
        color: #4f6d88;
        font-family: Karla, "sans-serif";
      }

      & strong {
        font-size: 0.9rem;
        font-weight: 300;
        display: block;
        color: white;
      }

      & small {
        display: block;
        color: #94abc2;
        margin-top: 0.2rem;
        margin-bottom: 0.5rem;
        font-size: 0.75rem;
        font-weight: 300;
      }

      & article {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 2rem;

        & p {
          margin-top: 0;
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          font-size: 0.8rem;
          color: var(--description-color);
        }
      }
    }
  }

  & .shadow {
    position: absolute;
    top: 240px;
    left: -65px;
    width: 26rem;
    height: 18rem;
    z-index: -1;
    -webkit-transform: rotateX(50deg) rotateY(6deg) rotate(138deg);
    transform: rotateX(50deg) rotateY(6deg) rotate(138deg);
    border-radius: 7px;
    background: -o-linear-gradient(rgb(3, 38, 70), #07355f),
      url("../../../src/assets/images/noise.svg");
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgb(3, 38, 70)),
        to(#07355f)
      ),
      url("../../../src/assets/images/noise.svg");
    background: linear-gradient(rgb(3, 38, 70), #07355f),
      url("../../../src/assets/images/noise.svg");
    -webkit-filter: contrast(200%) blur(20px);
    filter: contrast(200%) blur(20px);
    opacity: 0.3;
  }
}

.panel {
  background-color: #ff964a;
  width: 25rem;
  height: 17rem;
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
  border-bottom-right-radius: 0.2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr);
  grid-template-rows: repeat(7, 1fr);
  -webkit-transform: rotateX(51deg) rotateY(2deg) rotate(320deg);
  transform: rotateX(51deg) rotateY(2deg) rotate(320deg);
  -webkit-box-shadow: -20px 7px 50px 10px rgba(1, 18, 33, 0.46);
  box-shadow: -20px 7px 50px 10px rgba(1, 18, 33, 0.46);

  @media screen and (min-width: 1024px) {
    & {
      height: 18rem;
    }
  }

  &:before {
    content: "";
    background: #994d27;
    position: absolute;
    z-index: -1;
    top: 4px;
    left: -5px;
    height: 100%;
    width: 5px;
    -webkit-transform: skewY(308deg);
    -ms-transform: skewY(308deg);
    transform: skewY(308deg);
    border-bottom-left-radius: 6px;
    border: 1px solid #e89564;
  }

  &:after {
    content: "";
    background: #9c3505;
    position: absolute;
    z-index: -1;
    bottom: -5px;
    right: 4px;
    height: 5px;
    width: 100%;
    -webkit-transform: skewX(318deg);
    -ms-transform: skewX(318deg);
    transform: skewX(318deg);
    border-top-left-radius: 1px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 5px;
    border-bottom: 1px solid #9b6546;
  }

  & .noise {
    position: absolute;
    width: 100%;
    height: 100%;
    background: -o-linear-gradient(rgba(255, 0, 0, 0), rgb(201, 52, 3)),
      url("../../../src/assets/images/noise.svg");
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(255, 0, 0, 0)),
        to(rgb(201, 52, 3))
      ),
      url("../../../src/assets/images/noise.svg");
    background: linear-gradient(rgba(255, 0, 0, 0), rgb(201, 52, 3)),
      url("../../../src/assets/images/noise.svg");
    -webkit-filter: contrast(120%) brightness(100%);
    filter: contrast(120%) brightness(100%);
  }
}

.tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 9rem;
  left: -8rem;

  @media screen and (min-width: 1024px) {
    & {
      bottom: 9rem;
      left: -7rem;
    }
  }

  & img {
    position: absolute;
    border-radius: 100%;
    overflow: hidden;
    width: 45px;
    height: 45px;
    -webkit-box-shadow: 0 12px 20px -5px #001f34b8;
    box-shadow: 0 12px 20px -5px #001f34b8;
    -webkit-transform: rotateX(44deg) rotateY(2deg) rotate(0deg);
    transform: rotateX(44deg) rotateY(2deg) rotate(0deg);

    @media screen and (min-width: 1024px) {
      & {
        width: 50px;
        height: 50px;
      }
    }
  }

  & div {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    top: var(--top);
    left: var(--left);

    @media screen and (min-width: 1024px) {
      & {
        width: 50px;
        height: 50px;
      }
    }

    &:nth-child(1) {
      --top: -70px;
      --left: 0;
      --bg-image: url("../../src/assets/images/tech/html.svg");
      --gradient-color: rgb(255 129 91);
    }

    &:nth-child(2) {
      --top: -60px;
      --left: -30px;
      --bg-image: url("../../src/assets/images/tech/css.svg");
      --gradient-color: rgb(17 122 204);
    }

    &:nth-child(3) {
      --top: -30px;
      --left: 0;
      --bg-image: url("../../src/assets/images/tech/js.svg");
      --gradient-color: #c99700;
    }

    &:nth-child(4) {
      --top: -90px;
      --left: 50px;
      --bg-image: url("../../src/assets/images/tech/ts.svg");
      --gradient-color: #1852ff;
    }

    &:nth-child(5) {
      --top: -50px;
      --left: 50px;
      --bg-image: url("../../src/assets/images/tech/react.svg");
      --gradient-color: #5a5b5b;
    }

    &:nth-child(6) {
      --top: -50px;
      --left: 50px;
      --bg-image: url("../../src/assets/images/tech/react_native.svg");
      --gradient-color: #5a5b5b;
    }

    &:nth-child(7) {
      --top: 10px;
      --left: -40px;
      --bg-image: url("../../src/assets/images/tech/expo.svg");
      --gradient-color: #747678;
    }

    &:nth-child(8) {
      --top: 70px;
      --left: 20px;
      --bg-image: url("../../src/assets/images/tech/next.svg");
      --gradient-color: #5a5b5b;
    }

    &:nth-child(9) {
      --top: 40px;
      --left: 30px;
      --bg-image: url("../../src/assets/images/tech/tailwind.svg");
      --gradient-color: #037483;
    }

    &:nth-child(10) {
      --top: 30px;
      --left: 160px;
      --bg-image: url("../../src/assets/images/tech/aws.svg");
      --gradient-color: #466583;
    }

    & span {
      background-image: var(--bg-image);

      &:after {
        background: linear-gradient(var(--gradient-color), #00000000),
          url("../../../src/assets/images/noise.svg");
      }
    }
  }

  & span {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateX(44deg) rotateY(2deg) rotate(0deg);
    transform: rotateX(44deg) rotateY(2deg) rotate(0deg);
    -webkit-box-shadow: 0 9px 20px -5px #001f34b8;
    box-shadow: 0 9px 20px -5px #001f34b8;
    background-size: contain;
    border-radius: 100%;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      z-index: -1;
      border-radius: 100px;
      -webkit-filter: contrast(169%) blur(0px);
      filter: contrast(169%) blur(0px);
      opacity: 0.7;
    }
  }
}

.deers {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;

  & > span {
    display: block;
    background-size: contain;
    position: absolute;
    width: 4.5rem;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;

    & > img {
      width: 100%;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 1.2rem;
      width: 3rem;
      height: 2rem;
      background: -o-linear-gradient(rgb(139 42 0), #7f2902),
        url("../../../src/assets/images/noise.svg");
      background: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(rgb(139 42 0)),
          to(#7f2902)
        ),
        url("../../../src/assets/images/noise.svg");
      background: linear-gradient(rgb(139 42 0), #7f2902),
        url("../../../src/assets/images/noise.svg");
      -webkit-transform: rotate(-25deg) skew(40deg, 0deg);
      -ms-transform: rotate(-25deg) skew(40deg, 0deg);
      transform: rotate(-25deg) skew(40deg, 0deg);
      z-index: -1;
      border-radius: 100px;
      -webkit-filter: blur(3px);
      filter: blur(3px);
      opacity: 0.3;
    }

    &:first-of-type {
      bottom: 6rem;
      right: 11rem;
      z-index: 2;

      &:after {
        left: -5px;
        -webkit-transform: rotate(15deg) skew(40deg, 0deg);
        -ms-transform: rotate(15deg) skew(40deg, 0deg);
        transform: rotate(15deg) skew(40deg, 0deg);
      }
    }

    &:nth-of-type(2) {
      top: 1rem;
      right: 12rem;
    }

    &:nth-of-type(3) {
      bottom: 8rem;
      right: 0;
      width: 4.8rem;
    }

    &:nth-of-type(4) {
      top: 0rem;
      right: 10rem;
      width: 5.6rem;
    }
  }
}

.tree {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: -65px;
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotate(40deg);
  transform: rotateX(0deg) rotateY(0deg) rotate(40deg);
  background: transparent;
  scale: 0.9;

  &:nth-child(1) {
    -ms-grid-column: 9;
    grid-column: 9;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  &:nth-child(2) {
    -ms-grid-column: 11;
    grid-column: 11;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  &:nth-child(3) {
    -ms-grid-column: 12;
    grid-column: 12;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  &:nth-child(4) {
    -ms-grid-column: 13;
    grid-column: 13;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  &:nth-child(5) {
    -ms-grid-column: 12;
    grid-column: 12;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  &:nth-child(6) {
    -ms-grid-column: 17;
    grid-column: 17;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  &:nth-child(7) {
    -ms-grid-column: 18;
    grid-column: 18;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  &:nth-child(8) {
    -ms-grid-column: 10;
    grid-column: 10;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  &:nth-child(9) {
    -ms-grid-column: 10;
    grid-column: 10;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  &:nth-child(10) {
    -ms-grid-column: 17;
    grid-column: 17;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  &:nth-child(11) {
    -ms-grid-column: 16;
    grid-column: 16;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  &:nth-child(12) {
    -ms-grid-column: 17;
    grid-column: 17;
    -ms-grid-row: 5;
    grid-row: 5;
  }
  &:nth-child(13) {
    -ms-grid-column: 9;
    grid-column: 9;
    -ms-grid-row: 6;
    grid-row: 6;
  }
  &:nth-child(14) {
    -ms-grid-column: 11;
    grid-column: 11;
    -ms-grid-row: 7;
    grid-row: 7;
    position: relative;
    z-index: 2;
  }
  &:nth-child(15) {
    -ms-grid-column: 12;
    grid-column: 12;
    -ms-grid-row: 6;
    grid-row: 6;
  }
  &:nth-child(16) {
    -ms-grid-column: 13;
    grid-column: 13;
    -ms-grid-row: 7;
    grid-row: 7;
  }
  &:nth-child(17) {
    -ms-grid-column: 10;
    grid-column: 10;
    -ms-grid-row: 1;
    grid-row: 1;
  }

  & span {
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--bg);
    width: var(--width);
    height: var(--height);
    margin-bottom: var(--margin-bottom);
    z-index: var(--z-index);

    &:nth-child(1) {
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 30px solid rgb(93 161 42);
      border-radius: 50px;
      display: inline-block;
      margin-bottom: -13px;
      position: relative;
      z-index: 2;
    }
    @media not all and (-webkit-min-device-pixel-ratio: 0),
      not all and (-o-min-device-pixel-ratio: 0/1),
      not all and (min-resolution: 0.001dpcm) {
      &:nth-child(1) {
        border-bottom: 30px solid rgb(73, 120, 40);
      }
    }
    &:nth-child(2) {
      --bg: rgb(53 107 17);
      --width: 28px;
      --height: 29px;
      --margin-bottom: -16px;
      --z-index: 2;
    }
    &:nth-child(2):after {
      --start: rgba(0, 0, 0, 0);
      --stop: rgba(84, 177, 24, 0.89);
    }
    &:nth-child(3) {
      --bg: rgb(60, 137, 28);
      --width: 37px;
      --height: 37px;
      --margin-bottom: -27px;
      --z-index: 1;
    }
    &:nth-child(3):after {
      --start: rgba(0, 0, 0, 0);
      --stop: rgb(52, 118, 24);
    }
    &:nth-child(4) {
      --bg: rgb(9, 81, 0);
      --width: 43px;
      --height: 47px;
    }
    &:nth-child(4):after {
      --start: rgba(0, 0, 0, 0);
      --stop: rgb(21, 92, 12);
    }
    &:nth-child(5) {
      --bg: #41240b;
      --width: 13px;
      --height: 14px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      margin-top: -2px;
    }

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      -webkit-filter: contrast(110%) brightness(100%);
      filter: contrast(110%) brightness(100%);
      background: -o-radial-gradient(
          circle at 65% 35%,
          var(--start),
          var(--stop)
        ),
        url("../../../src/assets/images/noise.svg");
      background: -o-radial-gradient(65% 35%, circle, var(--start), var(--stop)),
        url("../../../src/assets/images/noise.svg");
      background: radial-gradient(circle at 65% 35%, var(--start), var(--stop)),
        url("../../../src/assets/images/noise.svg");
    }
  }
}

.man {
  display: none;
  position: absolute;
  z-index: 1;
  top: 9rem;
  left: -2rem !important;

  @media screen and (min-width: 1024px) {
    & {
      display: block;
    }
  }

  & img {
    width: auto;
    height: 9rem;

    &:after {
      content: "";
      position: absolute;
      top: 88px;
      left: -3px;
      width: 75px;
      height: 75px;
      background: -o-linear-gradient(rgb(3, 38, 70), #07355f),
        url("../../../src/assets/images/noise.svg");
      background: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(rgb(3, 38, 70)),
          to(#07355f)
        ),
        url("../../../src/assets/images/noise.svg");
      background: linear-gradient(rgb(3, 38, 70), #07355f),
        url("../../../src/assets/images/noise.svg");
      -webkit-transform: rotate(45deg) skew(-1deg, -18deg);
      -ms-transform: rotate(45deg) skew(-1deg, -18deg);
      transform: rotate(45deg) skew(-1deg, -18deg);
      z-index: -1;
      border-radius: 100px;
      -webkit-filter: contrast(200%) blur(10px);
      filter: contrast(200%) blur(10px);
      opacity: 0.3;
    }
  }
}
